<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->

    {{>admin-sidebar}}

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Edit Product</h4>
                        <form action="/admin/edit-product/{{product._id}}" method="post" class="forms-sample"
                            enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="exampleInputName1">Badge</label>
                                <input name="badge" value="{{product.badge}}" type="text" class="form-control" id="exampleInputName1">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail3">Category</label>
                                <select name="category"  value="{{product.category}}" class="form-select" aria-label="Default select example">
                                    <option>select category</option>
                                    {{#each category}}
                                    <option >{{this.cat_name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4">Name</label>
                                <input name="name" value="{{product.name}}" type="text" class="form-control" id="exampleInputPassword4" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4">Descritption</label>
                                <input name="description" value="{{product.description}}" type="text" class="form-control" id="exampleInputPassword4" required>
                            </div>
                            <div class="form-group col-md-12 row">
                                <div class="col">
                                    <label for="exampleInputCity1">Price</label>
                                    <input name="price" value="{{product.price}}" type="text" class="form-control" id="exampleInputCity1" required>
                                </div>
                                <div class="col">
                                    <label for="exampleInputCity1">Real Price</label>
                                    <input name="realPrice" value="{{product.realPrice}}" type="text" class="form-control" id="exampleInputCity1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>File upload</label>
                                {{!-- <img src="/assets/images/products/{{product.images.[0]}}" alt="" style="width: 100px; height:auto" > --}}
                                <img src="/assets/images/products/{{this.images.[0]}}" alt="" style="width: 100px; height:auto" id="imgView" class="my-4">
                                <div class="input-group col-xs-12">
                                    <input name="images" type="file" class="form-control file-upload-info" placeholder="Upload Image" onchange="viewImage(event)" required multiple>
                                </div>
                            </div>
                            <hr>
                            <h4 class="card-title">Product Details </h4>
                            <div class="form-group col-md-12 row">
                                <div class="col">
                                    <label for="exampleInputCity1">Brand</label>
                                    <input name="brand" value="{{product.brand}}" type="text" class="form-control" id="exampleInputCity1"
                                        required>
                                </div>
                                <div class="col">
                                    <label for="exampleInputCity1">Collection</label>
                                    <input name="collection" value="{{product.collection}}" type="text" class="form-control" id="exampleInputCity1">
                                </div>
                            </div>
                            <div class="form-group col-md-12 row">
                                <div class="col">
                                    <label for="exampleInputCity1">Function</label>
                                    <input name="function" value="{{product.function}}" type="text" class="form-control" id="exampleInputCity1"
                                        required>
                                </div>
                                <div class="col">
                                    <label for="exampleInputCity1">Movement</label>
                                    <input name="movement" value="{{product.movement}}" type="text" class="form-control" id="exampleInputCity1">
                                </div>
                            </div>
                            <div class="form-group col-md-12 row">
                                <div class="col">
                                    <label for="exampleInputCity1">Warrenty</label>
                                    <input name="warrenty" value="{{product.warrenty}}" type="text" class="form-control" id="exampleInputCity1"
                                        required>
                                </div>
                                <div class="col">
                                    <label for="exampleInputCity1">Water Resistance</label>
                                    <input name="waterResistance" value="{{product.waterResistance}}" type="text" class="form-control" id="exampleInputCity1">
                                </div>
                            </div>
                            <div class="form-group col-md-12 row">
                                <div class="col">
                                    <label for="exampleInputCity1">Dial Colour</label>
                                    <input name="dialColour" value="{{product.dialColour}}" type="text" class="form-control" id="exampleInputCity1"
                                        >
                                </div>
                                <div class="col">
                                    <label for="exampleInputCity1">Dial Shape</label>
                                    <input name="dialShape" value="{{product.dialShape}}" type="text" class="form-control" id="exampleInputCity1">
                                </div>
                            </div>
                            <div class="form-group col-md-12 row">
                                <div class="col">
                                    <label for="exampleInputCity1">Case Material</label>
                                    <input name="caseMaterial" value="{{product.caseMaterial}}" type="text" class="form-control" id="exampleInputCity1"
                                        required>
                                </div>
                                <div class="col">
                                    <label for="exampleInputCity1">Case Thickness</label>
                                    <input name="caseThickness" value="{{product.caseThickness}}" type="text" class="form-control" id="exampleInputCity1">
                                </div>
                            </div>
                            <div class="form-group col-md-12 row">
                                <div class="col">
                                    <label for="exampleInputCity1">Strap Colour</label>
                                    <input name="strapColour" value="{{product.strapColour}}" type="text" class="form-control" id="exampleInputCity1"
                                        required>
                                </div>
                                <div class="col">
                                    <label for="exampleInputCity1">Strap Material</label>
                                    <input name="strapMaterial" value="{{product.strapMaterial}}" type="text" class="form-control" id="exampleInputCity1">
                                </div>
                            </div>
                            <div class="form-group col-md-12 row">
                                <div class="col">
                                    <label for="exampleInputCity1">Glass material</label>
                                    <input name="glassMaterial" value="{{product.glassMaterial}}" type="text" class="form-control" id="exampleInputCity1"
                                        required>
                                </div>
                                <div class="col">
                                    <label for="exampleInputCity1">Lock mechanism</label>
                                    <input name="lockMechanism" value="{{product.lockMechanism}}" type="text" class="form-control" id="exampleInputCity1">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Update</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        {{>admin-footer}}
        <!-- partial -->
    </div>

    <script>
        function viewImage(event){
            document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
        }
    </script>