<div class="container-fluid page-body-wrapper" style="margin-top: 64px;">
    <!-- partial:partials/_sidebar.html -->

    {{>admin-sidebar}}

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Products Purchased</h4>
                            <div class="template-demo" style="margin-left: 86%;">
                                <div>
                                    <a href="/admin/add-product" class="btn btn-dark btn-rounded btn-fw mb-5 ">Add
                                        Product</a>
                                </div>
                            </div>
                            <table class="table table-bordered" id="productsTable">
                                <thead>
                                    <tr>
                                        <th> No </th>
                                        <th> Name </th>
                                        <th> Category </th>
                                        <th> Price </th>
                                        <th>Image</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each products}}
                                    <tr class="table-warning">
                                        <td>{{inc @index}}</td>
                                        <td> {{this.name}} </td>
                                        <td> {{this.category}} </td>
                                        <td> Rs.{{this.price}}</td>
                                        <td><img src="/assets/images/products/{{this.images.[0]}}" alt=""></td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        {{>admin-footer}}
        <!-- partial -->
    </div>

    <script>

        $(document).ready(function () {
            $('#productsTable').DataTable();
        });


    </script>