<main>

  <!--- BANNER -->

  <div class="banner">
    <div class="container">
      <div class="slider-container has-scrollbar">
        <div class="slider-item">
          <img src="/assets/images/watch-banner3.jpg" alt="women's latest fashion sale" class="banner-img">
          <div class="banner-content">
            <p class="banner-subtitle">Trending item</p>
            <h2 class="banner-title">Latest fashion sale for all</h2>
            <p class="banner-text">
              starting at Rs. <b>2999</b>.00
            </p>
            <a href="/view-products" class="banner-btn">Shop now</a>
          </div>
        </div>
        <div class="slider-item">
          <img src="/assets/images/watch-banner2.jpg" alt="modern sunglasses" class="banner-img">
          <div class="banner-content">
            <p class="banner-subtitle">Trending accessories</p>
            <h2 class="banner-title">Modern watches</h2>
            <p class="banner-text">
              starting at Rs. <b>2500</b>.00
            </p>
            <a href="/view-products" class="banner-btn">Shop now</a>
          </div>
        </div>
        <div class="slider-item">
          <img src="/assets/images/watch-banner8.jpg" class="banner-img">
          <div class="banner-content" style="left: 55%;">
            <p class="banner-subtitle">Sale Offer</p>
            <h2 class="banner-title">New fashion summer sale</h2>
            <p class="banner-text">
              starting at Rs. <b>3000</b>.99
            </p>
            <a href="/view-products" class="banner-btn">Shop now</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--- CATEGORY -->

  <div class="category">
    <div class="container">
      <div class="category-item-container has-scrollbar">
        {{#each category}}
        <div class="category-item">
          <div class="category-img-box">
            <img src="/assets/images/products/{{this._id}}.jpg" alt="dress & frock" width="30">
          </div>
          <div class="category-content-box">
            <div class="category-content-flex">
              <h3 class="category-item-title">{{this.cat_name}}</h3>
              {{!-- <p class="category-item-amount">(53)</p> --}}
            </div>
            <a href="/view-products" class="category-btn">Show all</a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  <!--- PRODUCT -->
  <div class="product-container">
    <div class="container">
      <div class="product-box">

        <!--- PRODUCT FEATURED -->

        <div class="product-featured" id="special-deal">
          <h2 class="title">Deal of the day</h2>
          <div class="showcase-wrapper has-scrollbar">
            <div class="showcase-container">
              <div class="showcase">
                <div class="showcase-banner">
                  <img src="/assets/images/products/dealimg.webp" class="showcase-img">
                </div>
                <div class="showcase-content">
                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </div>
                  <a href="#">
                    <h3 class="showcase-title">Regalia Opulent Black</h3>
                  </a>
                  <p class="showcase-desc">
                    Regalia Opulent Black Dial Silver Stainless Steel Strap Watch
                  </p>
                  <div class="price-box">
                    <p class="price">Rs.9,395.00</p>
                    <del>Rs.9,999.00</del>
                  </div>
                  <a href="/view-products"><button class="add-cart-btn">See more</button></a>
                  <div class="showcase-status">
                    <div class="wrapper">
                      <p>
                        already sold: <b>20</b>
                      </p>
                      <p>
                        available: <b>40</b>
                      </p>
                    </div>
                    <div class="showcase-status-bar"></div>
                  </div>
                  <div class="countdown-box">
                    <p class="countdown-desc">
                      Hurry Up!
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="showcase-container">
              <div class="showcase">
                <div class="showcase-banner">
                  <img src="/assets/images/products/dealimg1.webp" class="showcase-img">
                </div>
                <div class="showcase-content">
                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </div>
                  <h3 class="showcase-title">
                    <a href="#" class="showcase-title">Neo Workdays Silver Dial Leather Strap Watch</a>
                  </h3>
                  <p class="showcase-desc">
                    Titan Silver Dial Multifunction Watch for Women
                  </p>
                  <div class="price-box">
                    <p class="price">Rs.5,095.00</p>
                    <del>Rs.6,999.00</del>
                  </div>
                  <a href="/view-products"><button class="add-cart-btn">See more</button></a>
                  <div class="showcase-status">
                    <div class="wrapper">
                      <p> already sold: <b>15</b> </p>
                      <p> available: <b>40</b> </p>
                    </div>
                    <div class="showcase-status-bar"></div>
                  </div>
                  <div class="countdown-box">
                    <p class="countdown-desc">Hurry Up!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--- PRODUCT GRID -->

        <div class="product-main">
          <h2 class="title">New Products</h2>
          <div class="product-grid">
            {{#each products}}
            <div class="showcase">
              <div class="showcase-banner">
                <img src="/assets/images/products/{{this.images.[0]}}" alt="Mens Winter Leathers Jackets" width="300"
                  class="product-img default">
                <img src="/assets/images/products/{{this.images.[0]}}" alt="Mens Winter Leathers Jackets" width="300"
                  class="product-img hover">
                <p class="showcase-badge">{{this.badge}}</p>
                <div class="showcase-actions">
                  {{!-- <button class="btn-action">
                    <ion-icon name="heart-outline"></ion-icon>
                  </button> --}}
                  <button class="btn-action" onclick="addToCart('{{this._id}}')">
                    <ion-icon name="bag-add-outline"></ion-icon>
                  </button>
                </div>
              </div>
              <div class="showcase-content">
                <a href="/product-details/{{this._id}}" class="showcase-category">{{this.name}}</a>
                  <h3 class="showcase-title">{{this.category}}</h3>
                <div class="showcase-rating">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
                <div class="price-box">
                  <p class="price">Rs.{{this.price}}</p>
                  {{#if this.realPrice}}
                  <del>Rs.{{this.realPrice}}</del>
                  {{else}}
                  <del>{{this.realPrice}}</del>
                  {{/if}}
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--- TESTIMONIALS, CTA & SERVICE -->
  <div id="testimonials">
    <div class="container">
      <div class="testimonials-box">
        <!--- TESTIMONIALS -->
        <div class="testimonial">
          <h2 class="title">testimonial</h2>
          <div class="testimonial-card">
            <img src="/assets/images/testimonial-1.jpg" alt="alan doe" class="testimonial-banner" width="80"
              height="80">
            <p class="testimonial-name">Alan Doe</p>
            <p class="testimonial-title">CEO & Founder Invision</p>
            <img src="/assets/images/icons/quotes.svg" alt="quotation" class="quotation-img" width="26">
            <p class="testimonial-desc">
             Excellent design, easy to read dial, sobre and yet stands out watches for all.
            </p>
          </div>
        </div>
        <div class="cta-container">
          <img src="/assets/images/banner-offer.webp" alt="summer collection" class="cta-banner">
          <a href="#" class="cta-content">
            <p class="discount">25% Discount</p>
            <h2 class="cta-title">Summer collection</h2>
            <p class="cta-text">Starting @ $10</p>
            <button class="cta-btn">Shop now</button>
          </a>
        </div>

        <!--- SERVICE -->

        <div class="service" id="services">
          <h2 class="title">Our Services</h2>
          <div class="service-container">
            <a href="#" class="service-item">
              <div class="service-icon">
                <ion-icon name="boat-outline"></ion-icon>
              </div>
              <div class="service-content">
                <h3 class="service-title">Worldwide Delivery</h3>
                <p class="service-desc">For Order Over $100</p>
              </div>
            </a>
            <a href="#" class="service-item">
              <div class="service-icon">
                <ion-icon name="rocket-outline"></ion-icon>
              </div>
              <div class="service-content">
                <h3 class="service-title">Next Day delivery</h3>
                <p class="service-desc">UK Orders Only</p>
              </div>
            </a>
            <a href="#" class="service-item">
              <div class="service-icon">
                <ion-icon name="call-outline"></ion-icon>
              </div>
              <div class="service-content">
                <h3 class="service-title">Best Online Support</h3>
                <p class="service-desc">Hours: 8AM - 11PM</p>
              </div>
            </a>
            <a href="#" class="service-item">
              <div class="service-icon">
                <ion-icon name="arrow-undo-outline"></ion-icon>
              </div>
              <div class="service-content">
                <h3 class="service-title">Return Policy</h3>
                <p class="service-desc">Easy & Free Return</p>
              </div>
            </a>
            <a href="#" class="service-item">
              <div class="service-icon">
                <ion-icon name="ticket-outline"></ion-icon>
              </div>
              <div class="service-content">
                <h3 class="service-title">30% money back</h3>
                <p class="service-desc">For Order Over $100</p>
              </div>
            </a>
          </div>
        </div>

        {{!-- contact us

        <div class="product-featured col-12">
          <h2 class="title">Contact Us</h2>
          <section id="contact">
            <div>

              <!-- Left contact page -->

              <form id="contact-form" class="form-horizontal" role="form">
                <div class="form-group">
                  <div class="col-sm-12">
                    <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value=""
                      required>
                  </div>
                </div>
                <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message" required
                  style="width: 59%;"></textarea>
                <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND"
                  style="width: 15%; margin-left: 22%;">
                  <div class="alt-send-button">
                    <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
                  </div>
                </button>
              </form>

              <!-- Left contact page -->
            </div>
          </section>
        </div> --}}
      </div>
    </div>
  </div>

  <!--- FOOTER -->

  <footer>
    <div class="footer-category">
      <div class="container">
        <h2 class="footer-category-title">Brand directory</h2>
        <div class="footer-category-box">
          <h3 class="category-box-title">Categories :</h3>
          <a href="#" class="footer-category-link">Mens</a>
          <a href="#" class="footer-category-link">Women</a>
          <a href="#" class="footer-category-link">Kids</a>
          <a href="#" class="footer-category-link">Smart</a>
          <a href="#" class="footer-category-link">Special</a>
        </div>
        <div class="footer-category-box">
          <h3 class="category-box-title">Watches :</h3>
          <a href="#" class="footer-category-link">formal</a>
          <a href="#" class="footer-category-link">casual</a>
          <a href="#" class="footer-category-link">Informal</a>
          <a href="#" class="footer-category-link">couples</a>
          <a href="#" class="footer-category-link">Rose gold</a>
          <a href="#" class="footer-category-link">Black </a>
          <a href="#" class="footer-category-link">Raga collections</a>
        </div>
      </div>
    </div>
    <div class="footer-nav">
      <div class="container">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <h2 class="nav-title">Popular Categories</h2>
          </li>
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Fashion</a>
          </li>
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Electronic</a>
          </li>
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Cosmetic</a>
          </li>
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Health</a>
          </li>
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Watches</a>
          </li>
        </ul>
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <h2 class="nav-title">Products</h2>
          </li>
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Prices drop</a>
          </li>
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">New products</a>
          </li>
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Best sales</a>
          </li>
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Contact us</a>
          </li>
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Sitemap</a>
          </li>
        </ul>
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <h2 class="nav-title">Our Company</h2>
          </li>
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Delivery</a>
          </li>
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Legal Notice</a>
          </li>
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Terms and conditions</a>
          </li>
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">About us</a>
          </li>
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Secure payment</a>
          </li>
        </ul>
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <h2 class="nav-title">Services</h2>
          </li>
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Prices drop</a>
          </li>
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">New products</a>
          </li>
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Best sales</a>
          </li>
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Contact us</a>
          </li>
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Sitemap</a>
          </li>
        </ul>
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <h2 class="nav-title">Contact</h2>
          </li>
          <li class="footer-nav-item flex">
            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>
            <address class="content">
              419 State 414 Rte
              Beaver Dams, New York(NY), 14812, USA
            </address>
          </li>
          <li class="footer-nav-item flex">
            <div class="icon-box">
              <ion-icon name="call-outline"></ion-icon>
            </div>
            <a href="tel:+607936-8058" class="footer-nav-link">(607) 936-8058</a>
          </li>
          <li class="footer-nav-item flex">
            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>
            <a href="mailto:example@gmail.com" class="footer-nav-link">example@gmail.com</a>
          </li>
        </ul>
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <h2 class="nav-title">Follow Us</h2>
          </li>
          <li>
            <ul class="social-link">
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a>
              </li>
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <img src="/assets/images/payment.png" alt="payment method" class="payment-img">
        <p class="copyright">
          Copyright &copy; <a href="#">Trend</a> all rights reserved.
        </p>
      </div>
    </div>
  </footer>